
body{
    margin: 0;
    padding:0;
    background:linear-gradient(to right,rgb(65, 234, 250),rgb(55, 13, 241) );
}

img{
    background-color: rgb(11, 59, 138);
    opacity: 0.7;
    width: 50px;
    height: 50px;
    
  
}
#cajalogin{
    position: relative;
    background-image: url("../img/fondologin.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 15px 15px 16px -7px rgb(19, 15, 241);
    z-index:1;
    height: 400px;
}
label{
font-size: 25px;
background-color: black;
opacity: 0.7;
    color:rgb(15, 227, 235);
}
#btnregis,#btniniciar{
    opacity: 0.7;
    box-shadow: 5px 7px 6px -4px rgb(12, 8, 245);
    background-color: black;
}
#btnregis:hover ,#btniniciar:hover{
   
    background-color: rgb(35, 129, 35);
}


.modal-content{
    position: relative;
    background-image: url("../img/fondo.jpg");
    background-color: blue;
    background-repeat: no-repeat;
    background-size:cover;
   }
   .modal-footer{
    background-color: blue;
    
   }
  
#btnPresente {
    margin-right: 10px;
}  
input.accion{
    width:120px ;
}
input.accion.correo{
    width:200px ;
}